body {
		background-color: #f8f8f8;
}
h3 {
	text-align: center;
}

.side-menu {
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: #f8f8f8;
/*	border-right: 1px solid #e7e7e7;*/
}

.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid ;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
  padding: 20px;
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}

.table{
  margin: 0px;
  padding: 15px;
  
}